* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.heading__button {
    height: 60%;
    border-radius: 20px;
    background-color: white;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    opacity: 0.9;
}

.heading__button:hover {
    opacity: 0.7;
}

.four--row {
    display: flex;
    flex-direction: row;  
} 

.button__view {
    background: linear-gradient(#aa2424, #dc2626);
    margin: 16px auto;
    padding: 10px 0;
    width: 70%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.button__view:hover {
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.4;
}



